html {
  margin: 0 auto;
  font-size: 3vw;
  font-family: "Helvetica Neue";
  }

h1 {
 font-size: 1.5rem;
}

body {
  margin: 3rem;
}

.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: Chartreuse;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: yellow;
  margin: 2rem;
  }

nav {
  display: inline;
}

nav a {
  margin: 0px 16px;
  text-decoration: none;
}

@media screen and (min-width: 500px) and (max-width: 1300px) {

  html {
    background-color: Gold;
    font-size: 6rem;
  }

  .nav-tab {
    background-color: coral;
  }
  
  .h1 {
    font-size: 9rem;
  }

  .h2 {
    font-size: 12vh;
}

  .h3 {
    font-size: 12vw;
  }
  
}
